{% load static %}


{% load crispy_forms_tags %}


<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-3 pb-3">
            <div class="col-md-12 heading-section text-center">
                <h2 class="mb-4">Benzer Ürünler</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% for item in related_products %}
            {% include "ecommerce/product/e-product.html" %}
            {% endfor %}
        </div>
    </div>
</section>






<a class="whats-app" href="https://wa.me/905307333073/?text=Merhaba Fiyatlarınızı Öğrenebilir miyim?" target="_blank">
    <i class="fa fa-whatsapp my-float"></i>
</a>
