<!DOCTYPE html>
<html lang="tr">
<head>
    {% include "ecommerce/base/components/e-head.html" %}
    <title>Boğaziçi Çiftlik Ürünleri</title>
</head>
<body class="goto-here">

    {% include "ecommerce/base/components/e-navbar.html" %}
    {% include "ecommerce/base/components/e-message.html" %}

    {% block context %}
      
    {% endblock context %}




    {% include "ecommerce/base/components/e-footer.html" %}
    {% include "ecommerce/base/components/e-footer_scripts.html" %}
</body>
</html>