<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="{% url 'index' %}">Boğaziçi Süt</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'index' %}">Anasayfa <span class="sr-only">(current)</span></a>
                </li>
                {% if request.user.is_staff %}
                   <li class="nav-item active dropdown">
                    <a href="" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Müşteri
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'customer' %}">Müşteriler</a>
                        <a class="dropdown-item" href="{% url 'add_customer' %}">Müşteri Ekle</a>

                    </div>
                </li>
                <li class="nav-item active dropdown">
                    <a href="" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sipariş
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'order' %}">Siparişler</a>
                        <a class="dropdown-item bg-danger" href="{% url 'add_order' %}">Sipariş Ekle</a>
                        <a id="date" class="dropdown-item" href="">Günlük Siparişler</a>

                    </div>
                </li>
                <li class="nav-item active dropdown">
                    <a href="" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Ürünler
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'products' %}">Ürünler</a>
                        <a class="dropdown-item" href="{% url 'add_product' %}">Ürün Ekle</a>
                    </div>
                </li>
                <li class="nav-item active">
                    <a id="" class="nav-link" href="">İstatistikler</a>
                </li>
                {% endif %}
                
                {% if request.user.is_authenticated %}
                <li class="nav-item active">
                    <a id="" class="nav-link" href="{% url 'delivery_page' %}">Teslimat</a>
                </li>
                <li class="nav-item active">
                    <a id="" class="nav-link" href="{% url 'logout' %}">Çıkış Yap</a>
                </li>
                {% endif %}

                {% if not request.user.is_authenticated %}
                <li class="nav-item active">
                    <a id="" class="nav-link" href="{% url 'index' %}">Giriş Yap</a>
                </li>
                  
                {% endif %}


                 
                <!-- <li class="nav-item active dropdown">
                    <a href="{% url 'add_district_and_neighborhood' %}">mahalle ekle</a>
                </li>  -->
                <!-- <li class="nav-item active">
                    <a class="nav-link" href="{% url 'add_customer_from_file' %}">Dosyadan Ekle</a>
                </li>   -->
            </ul>
        </div>
    </nav>
</div>

<script>
    $(document).ready(function () {
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
        var yyyy = today.getFullYear();
        today = dd + '-' + mm + '-' + yyyy;

        var url_mask = "{% url 'daily_order' 12345 %}".replace(/12345/, today.toString());
        $('#date').attr('href', url_mask)
    })
</script>