<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'index' %}">Boğaziçi Süt</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'index' %}">Anasayfa <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'customer' %}">Müşteriler</a>

                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'add_customer' %}">Müşteri Ekle</a>

                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'order' %}">Siparişler</a>

                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'add_order' %}">Sipariş Ekle</a>

                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Ürün Ekle</a>
                </li>


                <!-- <li class="nav-item active dropdown">
                    <a href="{% url 'add_district_and_neighborhood' %}">mahalle ekle</a>
                </li> -->
            </ul>
        </div>
    </nav>
</div>