{% extends "base/base.html" %}
{% load static %}

{% block content %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}



<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <div class="row">
                {{ new_order_form |crispy }}

            </div>
            <div class="row">
                <ul class="list-group" id="result">

                </ul>
            </div>
        </div>

    </div>
</div>


<h3 class="mt-2 text-center font-weight-bold">Sipariş Ekleme Ekranı</h3>
<h5 class="mt-1 text-center">Müşteri Bilgileri</h5>

<div class="container">
    <form method="post" enctype="multipart/form-data" novalidate>
        {{ order_form.media }}
        {% csrf_token %}
        <div class="row justify-content-md-center">
            <div class="col-md-6">
                {{ order_form.customer|as_crispy_field  }}
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3">
                {{ order_form.payment_method|as_crispy_field }}
            </div>
            <div class="col-lg-3">
                {{ order_form.delivery_date |as_crispy_field }}
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3">
                {{ order_form.is_instagram |as_crispy_field}}
            </div>
            <div class="col-lg-3">
                {{ order_form.instagram_username |as_crispy_field }}
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-6">
                {{ order_form.notes | as_crispy_field }}
            </div>
        </div>
        <h5 class="text-center">Ürün Bilgileri</h5>
        <div class="row mt-3 justify-content-center">
            {{ order_formset.management_form}}
            {{ order_formset.media }}
            <div class="col-lg">
                <div class="row justify-content-center">
                    {% for form in order_formset %}
                    <div id="{{ forloop.counter }}" class="col-lg-3 table-dark rounded mx-1 my-1 py-3 px-5">
                        {{ form | crispy }}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col-lg-3">
                <span id="add_product" href="" class="btn btn-primary btn-lg mb-1">Ürün Ekle</span>
            </div>
            <div class="col-lg-3 align-self-end">
                <button type="submit" class="btn btn-danger btn-lg">Sipariş Kaydet</button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
$(document).ready(function()
{
    $('.select2-selection').attr('style', 'height:38px')
    
})


</script>


<script type="text/javascript">
    var conditional_field = $('#div_id_instagram_username')
    conditional_field.hide()


    $('#id_is_instagram').click(function () {

        if ($(this).prop('checked') === true) {
            conditional_field.show()
        } else {
            conditional_field.hide()
        }

    })
</script>

<script type="text/javascript">
    var condition = $('#5')
    var condition1 = $('#6')
    var condition2 = $('#7')

    var liste = [condition, condition1, condition2]

    for (elem of liste) {
        elem.hide()
    }

    $('#add_product').click(function () {

        liste[0].show()
        liste.shift()
        if (liste.length == 0) {
            $(this).hide()
        }

    })
</script>



<script type="text/javascript">
    $(function () {

        $('#id_search').keyup(function () {

            $.ajax({
                type: "GET",
                url: "/search_status/",
                data: {
                    'search_text': $('#id_search').val(),
                    'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val()
                },
                success: searchSuccess,
                dataType: 'html'
            });
        });
    });

    function searchSuccess(data, textStatus, jqXHR) {
        $('#result').html(data)
    }
</script>
<script type="text/javascript">



</script>
{% endblock content %}