{% extends "base/base.html" %}
{% block content %}
<div class="container mt-2 mb-2">
    <div class="d-flex justify-content-center">
        <h2>Müşteri Bilgi Ekranı</h2>
    </div>
</div>
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr class="d-flex">
                <th class="col-lg-1">id</th>
                <th class="col-lg-1">Adı</th>
                <th class="col-lg-1">Soyadı</th>
                <th class="col-lg-2">Telefon</th>
                <th class="col-lg-4">Adres</th>
                <th class="col-lg-3">Düzenle</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
            <tr class="d-flex">
                <th class="col-lg-1">{{customer.id}}</th>
                <td class="col-lg-1">{{customer.first_name}}</td>
                <td class="col-lg-1">{{customer.last_name}}</td>
                <td class="col-lg-2">{{customer.phone1}}</td>
                <td class="col-lg-4">{{customer.address}}</td>
                <td class="col-lg-3">
                    <div class="row justify-content-center">

                        <a href="{% url 'update_customer' customer.id %}" class="btn btn-info">Güncelle</a>
                    </div>
                    <div class="row justify-content-center">
                        <a href="{% url 'delete_customer' customer.id %}" class="btn btn-danger">Müşteri Sil</a>
                    </div>
                    <div class="row justify-content-center">
                        <a href="{% url 'add_order' customer.id %}" class="btn btn-dark">Sipariş Ekle</a>
                    </div>

                    <div class="row justify-content-center">
                        <a href="{% url 'download_customer_vcf' customer.id %}" class="btn btn-success">VCF Dosyası</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if customers.has_other_pages %}
    <div class="row justify-content-center">
        <div class="col-md-auto">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% if customers.has_previous %}
                    <li class="page-item"><a class="page-link"
                            href="?page={{ customers.previous_page_number }}">&laquo;</a>
                    </li>
                    {% else %}
                    <li class="disabled"><span class="page-link">&laquo;</span></li>
                    {% endif %}
                    {% for i in customers.paginator.page_range %}
                    {% if customers.number == i %}
                    <li class="page-item active"><span class="page-link">{{ i }}</span></li>
                    {% else %}
                    <li><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if customers.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ customers.next_page_number }}">&raquo;</a>
                    </li>
                    {% else %}
                    <li class="disabled"><span class="page-link">&raquo;</span></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
    {% endif %}
</div>
{% endblock content %}