{% extends "base/base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container mt-2 mb-2">
    <div class="d-flex justify-content-center">
        <h3>Müşteri Arama Formu</h3>
    </div>
</div>

<div class="container">
    <form method="get" id="CustomerSearchForm" enctype="multipart/form-data"
        customer-search-url="{% url 'ajax_customer_search' %}" novalidate>
        {% csrf_token %}
        {{ customer_search_form.media }}
        <div class="row justify-content-center align-items-center">
            <div class="col-md-4">
                {{ customer_search_form|crispy }}
            </div>

            <div class="col-md-2">
                <button id="search" type="button" class="btn btn-block btn-danger btn-md">Müşteri Ara</button>
            </div>

        </div>
    </form>
</div>
<hr>
<div id="search_result_form" class="container">



</div>


<script src="https://code.jquery.com/jquery-3.1.1.min.js">
</script>

<script>
    $("#search").click(function () {
        var url = $("#CustomerSearchForm").attr("customer-search-url"); // get the url of the `load_cities` view
        var phone_number = $('#select2-id_phone1-container').text(); // get the selected country ID from the HTML input
        $.ajax({ // initialize an AJAX request
            url: url, // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
            data: {
                'phone_number': phone_number // add the country id to the GET parameters
            },
            success: function (
                data) { // `data` is the return of the `load_cities` view function
                $("#search_result_form").html(
                    data
                ); // replace the contents of the city input with the data that came from the server
            }
        });
    });
</script>
<hr>
<div class="container">
    <h3 class="text-center">Müşteriler</h3>
    <table class="table table-striped">
        <thead>
            <tr class="d-flex">
                <th class="col-lg-1">id</th>
                <th class="col-lg-1">Adı</th>
                <th class="col-lg-1">Soyadı</th>
                <th class="col-lg-2">Telefon</th>
                <th class="col-lg-4">Adres</th>
                <th class="col-lg-3">Düzenle</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
            <tr class="d-flex">
                <th class="col-lg-1"><a href="{% url 'customer_details' customer.id %}">{{customer.id}}</a></th>
                <td class="col-lg-1">{{customer.first_name}}</td>
                <td class="col-lg-1">{{customer.last_name}}</td>
                <td class="col-lg-2">{{customer.phone1}}</td>
                <td class="col-lg-4">{{customer.address}}</td>
                <td class="col-lg-3">
                    <div class="row justify-content-center">

                        <a href="{% url 'update_customer' customer.id %}" class="btn btn-info">Güncelle</a>
                    </div>
                    <div class="row justify-content-center">
                        <a href="{% url 'add_order' customer.id %}" class="btn btn-dark">Sipariş Ekle</a>
                    </div>

                    <div class="row justify-content-center">
                        <a href="{% url 'download_customer_vcf' customer.id %}" class="btn btn-success">VCF Dosyası</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if customers.has_other_pages %}
    <div class="row justify-content-center">
        <div class="col-md-auto">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% if customers.has_previous %}
                    <li class="page-item"><a class="page-link"
                            href="?page={{ customers.previous_page_number }}">&laquo;</a>
                    </li>
                    {% else %}
                    <li class="disabled"><span class="page-link">&laquo;</span></li>
                    {% endif %}
                    {% for i in customers.paginator.page_range %}
                    {% if customers.number == i %}
                    <li class="page-item active"><span class="page-link">{{ i }}</span></li>
                    {% else %}
                    <li><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if customers.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ customers.next_page_number }}">&raquo;</a>
                    </li>
                    {% else %}
                    <li class="disabled"><span class="page-link">&raquo;</span></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
    {% endif %}
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.select2-selection').attr('style', 'height:38px')
        $('.select2-selection__rendered').addClass('col')
    })
</script>
{% endblock content %}