{% extends "base/base.html" %}
{% block content %}

<div class="container mt-1">
    <div class="row justify-content-center">
        <div class="col text-center">
            <h2>Günlük Bazlı Sipariş Bilgi Ekranı</h2>
        </div>
    </div>
    <div class="row">
        <div class="col  text-center">
            <h5>{{ exact_date }}</h5>
            <p>{{ exact_date | date:'l'}}</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-3 border rounded">

            <span>EFT: {{ eft }} TL</span>
        </div>
        <div class="col-3 border rounded">
            <span>Nakit: {{ cash }} TL</span>
        </div>
        <div class="col-3">
            <a id="export" style="color:green" href="{% url 'export_orders_xls' exact_date %}">
                <i class="fa fa-file-excel-o" style="font-size:24px;color:green"></i>
                Excele Aktar</a>

        </div>
    </div>
</div>
<div class="container mt-2">
    {% include "base/components/number_of_products_ordered_table.html" %}
    <nav>
        <div class="nav nav-tabs justify-content-center">
            {% for day in days %}
            <a class="nav-item nav-link {% if exact_date == day %} active {% endif %}" id="{{ day | date:'l'}}"
                href="{% url 'daily_order' day %}">
                {{day}}
                {{ day | date:'l'}}</a>
            {% endfor %}
        </div>
    </nav>
</div>

{% include "base/components/orders_info_table.html" %}
{% endblock content %}