{% extends "base/base.html" %}

{% block content %}
{% load crispy_forms_tags %}

<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-center">
                <h2>Boğaziçi Süt ve Yöresel Ürünler</h2>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-6 align-self-center">
            <div class="row justify-content-center text-center">
                <div class="col">
                    <h4>Müşteri ve Sipariş Takip Programı</h4>

                </div>
            </div>
            <div class="row justify-content-center text-center">
                <div class="col">
                    <h5>Hoşgeldiniz</h5>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row justify-content-center">
                {% if request.user.is_authenticated %}

                <div class="col-8">

                    <p>Kullanıcı Adı : {{ request.user.username}}</p>

                    <p>Son Giriş : {{ request.user.last_login}}</p>


                </div>


                {% else %}
                <div class="col-8">
                    <h3>Giriş Yap</h3>
                    <hr>
                    <form method="POST">
                        {% csrf_token %}
                        {{ login_form|crispy }}
                        <br>
                        <button type="submit" class="btn btn-danger">Login</button>
                    </form>
                </div>
                {% endif %}

            </div>
        </div>
    </div>


</div>

<a  class="whats-app" href="https://wa.me/905307333073/?text=Merhaba Fiyatlarınızı Öğrenebilir miyim?" target="_blank">
    <i class="fa fa-whatsapp my-float"></i>
</a>
{% endblock content %}