{% extends "base/base.html" %}
{% block content %}
{% load l10n %}

<div class="container mt-2 mb-2">
    <div class="d-flex justify-content-center">
        <h2>Sipariş Bilgi Ekranı</h2>
    </div>
</div>
<br>
<div class="container">
    <div class="row justify-content-center">

        {% for product in product_numbers %}

        <div class="col-2 text-center px-2 py-2 my-2 mx-2 my-2 table table-dark">
            {{product}}
        </div>

        {% endfor %}
    </div>
</div>

<div class="container justify-content-center">
    <div class="container">
        <table class="table table-striped table-responsive-md table-sm">
            <thead>
                <tr class="d-flex">
                    <th class="col-1">id</th>
                    <th class="col-1">Teslimat Tarihi</th>
                    <th class="col-2">Telefon</th>
                    <th class="col-2">Adres</th>
                    <th class="col-3">Sipariş Detay</th>
                    <th class="col-1">Toplam Tutar</th>
                    <th class="col-2">Düzenle</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}

                <tr class="d-flex">
                    <td class="col-1">{{order.id}}</td>
                    <td class="col-1">{{order.delivery_date}} {{order.delivery_date| date:"l"}}</td>
                    <td class="col-2">{{order.customer.phone1 | phone2numeric}}</td>
                    <td class="col-2">{{order.customer.address}}</td>
                    <td class="col-3">
                        {% for order in order.orderproduct_set.all %}

                        {{ order.product.name }}
                        {{order.quantity|floatformat}}

                        {% if not foorloop.last %}
                        <br>
                        {% else %}

                        {% endif %}

                        {% endfor %}
                    </td>
                    <td class="col-1">{{order.total_amount}}</td>
                    <td class="col-2">
                        <a href="{% url 'update_order' order.id %}" class="btn btn-info">Güncelle</a>
                        <a href="{% url 'delete_order' order.id %} " class="btn btn-danger">Sipariş Sil</a>
                    </td>
                </tr>

                {% endfor %}

            </tbody>
        </table>
    </div>
    {% endblock content %}


