{% extends "base/base.html" %}
{% block content %}
{% load l10n %}

<div class="container mt-2 mb-2">
    <div class="d-flex justify-content-center">
        <h2>Sipariş Bilgi Ekranı</h2>
    </div>
</div>
<br>
<div class="container">
    <div class="row justify-content-center">

        {% for product in product_numbers %}

        <div class="col-2 text-center px-2 py-2 my-2 mx-2 my-2 table table-dark">
            {{product}}
        </div>

        {% endfor %}
    </div>
</div>

<div class="container justify-content-center">
    <div class="row">

        <div class="col">
            <h3 class="text-right">
                <!-- <i class="fa fa-table" style="font-size:48px;color:green"></i> -->
                <input id="datepicker">
                <a id="export" style="color:green" href="">
                    <i class="fa fa-file-excel-o" style="font-size:48px;color:green"></i>
                    Excele Aktar</a>
            </h3>
        </div>
    </div>

    <!-- Fengyuan Chen's Datepicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css"
        integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"
        integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {
            $("#datepicker").datepicker({
                language: 'tr-TR',
                format: 'yyyy-mm-dd',
                
            });
        });
    </script>
    <script>
        $('#datepicker').change(function()
        {
            var data =  $(this).val()
            var url_mask = "{% url 'export_orders_xls' 12345 %}".replace(/12345/, data.toString());
            $('#export').attr('href', url_mask)
        }
        )
    </script>


    <br>

    <div class="container">
        <table class="table table-striped table-responsive-md table-sm">
            <thead style="text-align:center">
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Adı</th>
                    <th scope="col">Teslimat Tarihi</th>
                    <th scope="col">Telefon</th>
                    <th>Adres</th>
                    <th scope="col">Sipariş Detay</th>
                    <th scope="col">Toplam Tutar</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}

                <tr style="vertical-align:middle">
                    <th scope="row">{{order.id}}</th>
                    <td>{{order.customer.first_name}}{{order.customer.last_name}}</td>
                    <td>{{order.delivery_date}}</td>
                    <td>{{order.customer.phone1 | phone2numeric}}</td>
                    <td>{{order.customer.address}}</td>
                    <td>
                        {% for order in order.orderproduct_set.all %}

                        {{ order.product.name }}
                        {{order.quantity|floatformat}}

                        {% if not foorloop.last %}
                        <br>
                        {% else %}

                        {% endif %}

                        {% endfor %}
                    </td>
                    <td>{{order.total_amount}}</td>
                </tr>

                {% endfor %}

            </tbody>
        </table>
    </div>
    {% endblock content %}