{% extends "base/base.html" %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<div class="container mt-2 mb-2">
    <div class="d-flex justify-content-center">

    </div>
    <br>
    <form method="get" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        {% block extrahead %}
        {{ block.super }}

        <script type="text/javascript" src="/admin/jsi18n/"></script>
        <script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>

        {{ order_calendar_form.media }}

        <link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}" />
        {% endblock extrahead %}
        <div class="row justify-content-center">
            <div class="col-3">
                {{ order_calendar_form | crispy }}

            </div>
            <div class="col-3">
                <button type="submit" class="btn btn-primary btn-block btn-md">Rapor Göster</button>

            </div>

        </div>
    </form>

    <table class="table table-striped table-bordered table-responsive-lg table-sm table-hover">
        <thead>

            <p class="text-center">
                {{ week_start }} - {{week_end}}
            </p>
            <tr class="">

                {% for district in districts %}
                {% if forloop.first %}
                <td></td>
                {% endif %}
                <td>{{ district.name }}</td>

                {% endfor %}
                <td>Toplam</td>

            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr class="text-center">
                {% for item in product %}
                  <td>{{item}}</td>
                {% endfor %}
            </tr>
            {% endfor %}

        </tbody>
    </table>




</div>

{% endblock content %}