{% extends "base/base.html" %}
{% load static %}

{% block content %}
{% load crispy_forms_tags %}

<div class="container mt-2 mb-2">
    <div class="d-flex justify-content-center">
        <h2>Ürün Bilgi Ekranı</h2>
    </div>
</div>

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col-md">id</th>
                <th scope="col-md">Ürün Adı</th>
                <th scope="col-md">Kategorisi</th>
                <th scope="col-md">Dağıtım Birimi</th>
                <th scope="col-md">Fiyatı</th>
                <th scope="col-md">Düzenle</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}

            <tr>
                <th scope="row">{{product.id}}</th>
                <td>{{product.name}}</td>
                <td>{{product.category}}</td>
                <td>{{product.get_distribution_unit_display}}</td>
                <td>{{product.price}}</td>
                <td><a href="{% url 'update_product' product.id %}" class="btn btn-info">Güncelle</a>
                    <a href="{% url 'delete_product' product.id %}" class="btn btn-danger">Ürün Sil</a></td>
            </tr>

            {% endfor %}

        </tbody>
    </table>
</div>

{% endblock content %}